html, body{
    background: #EBEBEA;
    border: solid 3px #57B196;
}

.topinformation{
    color: #2F3448;
    margin: 10px;
    margin-bottom: 20px;
    padding: 30px;
    background: #FAF4EF;
    border-top: solid 20px #FF837B;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
}

.informationcontents{
    font-size: 18px;
    margin: 20px;
    color: #2F3448;
}

.topmenu{
    text-align: center;
}

.topmenu button{
    margin: 20px;
    width: 150px;
    height: 150px;
    font-size: 20px;
    color: #362F3C;
    padding: 10px;
    border: solid 5px #362F3C;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.topmenu button:active{
    width: 145px;
    height: 145px;
    font-size: 19px;
}
